
body {    
    margin: 0 !important;
    padding: 0 !important;
}

div.layer1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url(images/wand.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

div.layer2{
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: calc(80vh - 36px);
    background-image: url(images/sofa.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: 20;
}

div.layer3{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: calc(80vh - 36px);
    background-image: url(images/kissen-mit-ei.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    z-index: 30;
}

.character {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
}

div.layer4 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 32;
}

#game {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    color: #DDDDDD;
    background-image: url(images/wand.png);
    background-repeat:no-repeat;
    background-size:cover;
}

#mainarea {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: calc(80vh - 36px);
    z-index: 40;
}

#moviearea {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#task {
  width: 90%;
  font-size: 1.5em;
}

.panel {
  font-size: 0.9em;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  background-color:#E3A20B;
  padding: 2px;
}

.panel.bottom {
  position: relative;
  padding: 2px 5px;
  margin: 0px auto;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  border:3px ridge #FFFF00;
  -webkit-box-shadow: #D39201 2px 2px 2px inset;
  -moz-box-shadow: #D39201 2px 2px 2px inset;
  box-shadow: #D39201 2px 2px 2px inset;
}

.bigbutton {
  width: calc(20vh - 20px); 
  height: calc(20vh - 20px);
}

.panel.center {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 75px;
  padding-right: 10px;
  margin: 0px auto;
  width: 10%;
  height: 34px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  border:3px ridge #FFFF00;
  -webkit-box-shadow: #D39201 2px 2px 2px inset;
  -moz-box-shadow: #D39201 2px 2px 2px inset;
  box-shadow: #D39201 2px 2px 2px inset;
}

.panel.left {
  padding-left: 75px;
  padding-right: 10px;
  margin-left: 0px;
  -webkit-border-radius: 0px 20px 20px 0px;
  -moz-border-radius: 0px 20px 20px 0px;
  border-radius: 0px 20px 20px 0px;
  border-left:0px ridge #FFFF00;
  border-top:3px ridge #FFFF00;
  border-bottom:3px ridge #FFFF00;
  border-right:3px ridge #FFFF00;
  -webkit-box-shadow: #D39201 2px 2px 2px inset;
  -moz-box-shadow: #D39201 2px 2px 2px inset;
  box-shadow: #D39201 2px 2px 2px inset;
}

.panel.right {
  padding-left: 10px;
  padding-right: 75px;
  margin-right: 0px;
  -webkit-border-radius: 20px 0px 0px 20px;
  -moz-border-radius: 20px 0px 0px 20px;
  border-radius: 20px 0px 0px 20px;
  border-right:0px ridge #FFFF00;
  border-top:3px ridge #FFFF00;
  border-bottom:3px ridge #FFFF00;
  border-left:3px ridge #FFFF00;
  -webkit-box-shadow: #D39201 2px 2px 2px inset;
  -moz-box-shadow: #D39201 2px 2px 2px inset;
  box-shadow: #D39201 2px 2px 2px inset;
}

header {
    margin: 0;
    padding: 3px 0px;
    height: 30px;
    vertical-align: bottom;
}


footer {
    margin: 0;
    padding: 5px;
    height: calc(20vh - 10px);
}

.horizontalgroup {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
}

.group {
  position: relative;
  top: -30;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

div {
  font-family: sans-serif;
}

div.leftcol {
  position: absolute;
  float: left;
  width: 100%;
}

div.rightcol {
  float: left;
  width: 33%;
}

#score {
  background-image:url('images/star-small.png');
  background-repeat:no-repeat;
  background-position:10px center;
  text-align: right;
  width: 10vw;
}

#online{
  font-size: 0.9em;
  font-family: sans-serif;
  text-align: right;
}

#help {
  background-image:url('images/ask-small.png');
  background-repeat:no-repeat;
  background-position:right 10px center;
  font-size: 0.9em;
  font-family: sans-serif;
  text-align: left;
  width: 30vw;
}
#Loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url(images/loading.jpg);
  background-size:cover;
  z-index:60;
}
#ContinueGame {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-size:cover;
  z-index:55;
}

.Dialog {
  position: absolute;
  width: 80%;
  right: 10%;
  top: 10vh;
  height: 80vh;
  background-color: rgba(255,255,255,0.9);
  display: none; 
  border:1px ridge #999999;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
   -webkit-box-shadow: inset 0px -1px 10px -1px rgba(0,0,0,0.5);
   -moz-box-shadow: inset 0px -1px 10px -1px rgba(0,0,0,0.5);
   box-shadow: inset 0px -1px 10px -1px rgba(0,0,0,0.5);
}

.Dialog:before{
   content: "";
   position: absolute;
   top: 15px;
   left: 15px;
   right: 15px;
   bottom: 15px;
   border: 1px solid #999999;
   background: rgba(255,255,255,0.25);
   -webkit-border-radius: 20px 20px 20px 20px;
   -moz-border-radius: 20px 20px 20px 20px;
   border-radius: 20px 20px 20px 20px;
   -webkit-box-shadow: 0px -1px 10px -1px rgba(0,0,0,0.5);
   -moz-box-shadow: 0px -1px 10px -1px rgba(0,0,0,0.5);
   box-shadow: 0px -1px 10px -1px rgba(0,0,0,0.5);
}

#LevelDone {
   z-index: 50;
}

#LevelFailed {
   z-index: 50;
}

#SelectPlayer {
  position: absolute;
  width: 80%;
  right: 10%;
  top: 10vh;
  height: 80vh;
  display: none;
  background-color: rgba(0,0,0,0.7);
  border:1px ridge #999999;
  -webkit-border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
   -webkit-box-shadow: inset 0px -1px 10px -1px rgba(0,0,0,0.5);
   -moz-box-shadow: inset 0px -1px 10px -1px rgba(0,0,0,0.5);
   box-shadow: inset 0px -1px 10px -1px rgba(0,0,0,0.5);
   z-index: 50;
}

#SelectPlayer :before {
   content: "";
   position: absolute;
   top: 15px;
   left: 15px;
   right: 15px;
   bottom: 15px;
   border: 1px solid #999999;
   background: rgba(0,0,0,0.25);
   -webkit-border-radius: 20px 20px 20px 20px;
   -moz-border-radius: 20px 20px 20px 20px;
   border-radius: 20px 20px 20px 20px;
   -webkit-box-shadow: 0px -1px 10px -1px rgba(0,0,0,0.5);
   -moz-box-shadow: 0px -1px 10px -1px rgba(0,0,0,0.5);
   box-shadow: 0px -1px 10px -1px rgba(0,0,0,0.5);
}

#WorldCompleted {
   z-index: 60;
}

#AllCompleted {
   z-index: 60;
}

h2#AllCompletedText {
    padding-top: 50px;
}
ul {
  list-style-type: none;
  line-height: 1.5em;
  margin: 15vh 15vw;
  font-size: 200%;
  -webkit-padding-start:0px;
}
li {
  padding: 0.3em;
  padding-top:0.7em;
  text-align:center;
}
li div {
  height: 30vh;
  border: 1px solid rgba(0,0,0,.1);
  background: #58a linear-gradient(hsla(0,0%,100%,.2),transparent);
  border-radius: 0.2em;
  box-shadow: 0 -.05em .05em rgba(0,0,0,.5);
  text-shadow: 0 -.05em .05em rgba(0,0,0,.5);
  color: white;
}

li div.weiter {
  background-color: #6b0;
}

li div.neu {
  background-color: #c00;
}

.zentriert {
position: relative;
margin: 0;
top: 50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}

.success {
  @keyframes textwelle {
    0 {
      font-size: 0;
      opacity: 0;
      }
    90% {
      font-size: 220%;
      opacity: 1;
      }
    100% {
      font-size: 200%;
      opacity: 1;
      }
  }
  animation: textwelle 2s;
  animation-play-state: paused;
  text-align: center;
  margin: auto; 
}

@keyframes play {
   100% { background-position: -1900px; }
}

.dialogImage {
  display: block;
  margin: 0 auto;
  opacity: 1;
}

.monster {
  width: 240px;
  height: 240px;
  background: url('images/worldcompleted.png') left center;
  animation: play 0,7s steps (14);
  animation-duration: 4s; /* or: Xms */
  animation-iteration-count: 10;
  animation-direction: alternate; /* or: normal */
}

